<article class="hero__wrapper">
    <%- include('/nav') -%>
        <!-- whatever video you put here will be (effectively) cropped to fit container size; make sure you're okay with it shrinking to the top left corner of the video at your specified minimum dimensions -->
        <video autoplay muted playsinline poster="../assets/images/hero.png" class="hero__video">
            <source src="../assets/images/hero.mp4" type="video/mp4" alt="HTML5 background video">
        </video>
        <div class="hero__info">
            <a class="btn btn--hero" href="#download">
                download now
            </a>
            <div class="platform-list">
                <%- include('/store-icons/ios.svg') -%>
                <%- include('/store-icons/android.svg') -%>
                <%- include('/store-icons/macos.svg') -%>
                <%- include('/store-icons/windows.svg') -%>
            </div>
        </div>
        <div class="hero__banner">
            <svg class="banner-edge-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 10">
                <path id="rect22" style="fill:#ffffff;fill-rule:evenodd;stroke-width:0.116947"
                    d="M 9.9999058,0 A 10,10 0 0 1 0,10.000422 h 9.9999058 z" />
            </svg>
            <svg class="banner-edge-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 10">
                <path id="rect22" style="fill:#ffffff;fill-rule:evenodd;stroke-width:0.116947"
                    d="M 9.9999058,0 A 10,10 0 0 1 0,10.000422 h 9.9999058 z" />
            </svg>
            <h1 class="h1--hero">Interactive human anatomy in real-time 3D</h1>
        </div>
</article>