<article class="info__wrapper max-w-screen-lg">
    <section id="info">
        <h1>
            Designed for anatomy students
        </h1>
        <p>
            We believe that learning by interaction is the best and easiest way to study human anatomy.
        </p>
        <h1>
            Perfect for professionals
        </h1>
        <p>
            When discussing anatomy with a patient it can help as an visual aid.
        </p>
    </section>
    <section>
        <ul>
            <li>
                over 1200 body parts!
            </li>
            <li>
                highly detailed
            </li>
            <li>
                fully searchable
            </li>
            <li>
                zoom, pan, and rotate in real time
            </li>
            <li>
                show and hide layers
            </li>
            <li>
                see details for each body part
            </li>
            <li class="hide-on-mobile">
                add custom notes
            </li>
        </ul>
    </section>
</article>