<div class="nav__wrapper">
  <nav>
    <ul>
      <li>
        <a class="nav-link" href="/blog/">
          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-left" width="32" height="32" viewBox="0 0 24 24" stroke-width="1.5" stroke="#000000" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <line x1="5" y1="12" x2="19" y2="12" />
            <line x1="5" y1="12" x2="11" y2="18" />
            <line x1="5" y1="12" x2="11" y2="6" />
          </svg> see more posts
        </a>
      </li>
      <li>
        <a class="nav-link nav-link--blog" href="/">
          home
        </a>
      </li>
    </ul>
  </nav>
  <svg class="nav-edge-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 10">
    <path id="rect22" style="fill:#ffffff;fill-rule:evenodd;stroke-width:0"
      d="M 9.9999058,0 A 10,10 0 0 1 0,10.000422 h 9.9999058 z" />
  </svg>
  <svg class="nav-edge-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 10">
    <path id="rect22" style="fill:#ffffff;fill-rule:evenodd;stroke-width:0"
      d="M 9.9999058,0 A 10,10 0 0 1 0,10.000422 h 9.9999058 z" />
  </svg>
</div>