<div class="nav__wrapper">
  <nav>
    <ul>
      <% sections.filter((item)=>{ return item.inNav == true; }).forEach((link)=> { %>
        <li>
          <a class="nav-link nav-link--<%= link.class %>" href="<% if (link.external) { %><%= link.slug %><% } else { %><%= `#${link.slug}` %><% } %>">
            <%= link.name %>
          </a>
        </li>
        <% }) %>
    </ul>
  </nav>
  <svg class="nav-edge-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 10">
    <path id="rect22" style="fill:#ffffff;fill-rule:evenodd;stroke-width:0"
      d="M 9.9999058,0 A 10,10 0 0 1 0,10.000422 h 9.9999058 z" />
  </svg>
  <svg class="nav-edge-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 10">
    <path id="rect22" style="fill:#ffffff;fill-rule:evenodd;stroke-width:0"
      d="M 9.9999058,0 A 10,10 0 0 1 0,10.000422 h 9.9999058 z" />
  </svg>
</div>