---
layout: layouts/base.ejs
---

<span>asdf</span>
<%= 'hello' | i18n %>

<%- include('/hero') -%>

<%- include('/blurb') -%>

<div class="inset">

  <%- include('/info') -%>

</div>

<%- include('/screenshots') -%>

<%- include('/systems') -%>

<div class="inset">

  <%- include('/pricing') -%>

  <%- include('/download') -%>

</div>

<%- include('/reviews') -%>