---
layout: layouts/base.ejs
pageName: post
---
<%- include('/nav-blog') -%>
  <article id="post">
    <header class="post__header hero__wrapper">
      <img class="post__image" src="/assets/images/posts/<%= image %>" />
      <div class="hero__banner">
        <svg class="banner-edge-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 10">
          <path id="rect22" style="fill:#ffffff;fill-rule:evenodd;stroke-width:0.116947"
            d="M 9.9999058,0 A 10,10 0 0 1 0,10.000422 h 9.9999058 z" />
        </svg>
        <svg class="banner-edge-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 10">
          <path id="rect22" style="fill:#ffffff;fill-rule:evenodd;stroke-width:0.116947"
            d="M 9.9999058,0 A 10,10 0 0 1 0,10.000422 h 9.9999058 z" />
        </svg>
        <h1 class="">
          <%= title %>
        </h1>
        <time class="">
          <%= this.dateFns.format(new Date(date), 'yyyy.LL.dd' ) %>
        </time>
      </div>
      <% if (locals.intro) { %>
        <div class="post__intro">
          <%= intro %>
        </div>
      <% } %>
    </header>
    <section class="post__content">
      <%- content %>
    </section>
  </article>