
ul#blogs{
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    margin: 2rem 0 8rem 0;
    gap: 1rem;
}

.blog {
    width: max(25vw, 400px);
}

.blog a {
    height: 100%;
}

.blog a article{
    transition: all .2s;
    height: 100%;
}

.blog a:hover article {
    transform: scale(1.02);
    background-color: var(--c-3);
}

.blog a:hover time {
    color: var(--c-bkg);
}


.blog article {
    background-color: var(--c-1);
    border-radius: var(--r-1);
    padding: 2rem;
    width: auto;
}

.blog h1 {
    width: auto;
}

.blog img{
    border-radius: calc(var(--r-1) / 2);
}

.blog time {
    color: var(--c-3);
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
}

.blog p {
    color: var(--c-2);
}

@media screen and (max-width: 1300px) {
    
}