.page--home article.blurb__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
}

.blurb__wrapper section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end; /* changed from flex to end by wouter (to outline slider to right side) */
    position: relative;
    gap: 1.5rem;
}

.no-flexbox-gap .blurb__wrapper section > *:not(:last-child) {
    margin-bottom: 1.5rem;
}

.blurb__wrapper p {
    font-family: Nunito, sans-serif;
    font-size: max(1.2rem, 10pt);
}

@media screen and (max-width: 768px) {
    .hide-on-mobile {
        display: none;
    }
}


.blurb__wrapper p em {
    /* background-color: var(--c-3);
    padding: 0 .25em; */
    font-style: normal;
    font-weight: 800;
}

.before-and-after {
    --ratio: 781/1347;
    /* --ratio: 1347/781; */
    --height: 30rem;
    position: relative;
    height: var(--height);
    width: calc(var(--height) * var(--ratio));
    aspect-ratio: var(--ratio);
    border: 2px solid white;
    border-radius: var(--r-1);
    overflow: hidden;
    background: transparent;/*var(--c-1) */
}

.before-and-after .img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
}

.before-and-after .slider {
    position: absolute;
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 100%;
    background: rgba(168, 96, 96, 0);
    outline: none;
    margin: 0;
    transition: all 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: w-resize;
}

.before-and-after .slider:hover {
    background: rgba(242, 242, 242, 0.1);
}

.before-and-after .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 6px;
    height: 600px;
    background: white;
    cursor: pointer;
}

.before-and-after .slider::-moz-range-thumb {
    width: 6px;
    height: 600px;
    background: white;
    cursor: pointer;
}

.before-and-after .slider-button {
    pointer-events: none;
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: white;
    left: calc(59% - 18px);
    top: calc(50% - 18px);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: w-resize;
}

.before-and-after .slider-button:after {
    content: "";
    padding: 3px;
    display: inline-block;
    border: solid #5D5D5D;
    border-width: 0 2px 2px 0;
    transform: rotate(-45deg);
}

.before-and-after .slider-button:before {
    content: "";
    padding: 3px;
    display: inline-block;
    border: solid #5D5D5D;
    border-width: 0 2px 2px 0;
    transform: rotate(135deg);
}
