.nav__wrapper {
    border-radius: 0 0 var(--r-1) var(--r-1);
    padding: 0.5rem var(--p-1) 1.5rem var(--p-1);
    background: var(--c-bkg);
    position: absolute;
    z-index: 2;

    --weird-gap: 0.05rem;
  }

  nav ul {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .no-flexbox-gap nav ul > *:not(:last-child) {
    margin-right: 1rem;
}

  nav ul li {
    white-space: nowrap;
    font-family: Nunito, sans-serif;
    text-transform: uppercase;
    font-size: 1rem;
  }

  .nav-edge-left {
    position: absolute;
    left: calc(-1 * var(--r-1) + var(--weird-gap));
    height: var(--r-1);
    width: var(--r-1);
    top: calc(-1 * var(--weird-gap));
    transform: scaleY(-1);
  }

  .nav-edge-right {
    position: absolute;
    right: calc(-1 * var(--r-1) + var(--weird-gap));
    height: var(--r-1);
    width: var(--r-1);
    top: calc(-1 * var(--weird-gap));
    transform: scaleX(-1) scaleY(-1);
  }

.nav-link {
  position: relative;
  transition: all 0.15s ease-out;
  color: var(--c-2);
  display: flex;
  align-items: center;
}

.nav-link svg{
  width: 1.2em;
  margin-right: .5em;
}

.nav-link--blog{
  color: var(--c-3);
}
.nav-link:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--c-3);
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.5s cubic-bezier(1, 0.25, 0, 0.75) 0s;
  transition: all 0.5s cubic-bezier(1, 0.25, 0, 0.75) 0s;
}
.nav-link:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}