.page--post .page-content{
    margin-top: 1rem;
    margin-bottom: 8rem;
}

.page--post .page-content{
    margin-top: 1rem;
}

.page--post .nav__wrapper{
    align-self: flex-start;
}

.page--post .hero__wrapper {
    --height: calc( min(60rem, var(--viewportWidth)) / 2);
    --diff: 5rem;
    --weird-gap: 0.04rem;
    --offset-from-top: calc(var(--height) - var(--diff) + var(--weird-gap));
}

.page--post .hero__wrapper svg{
    bottom: auto;
    top: calc(var(--diff) - var(--r-1));
}

.page--post .hero__banner{
    bottom: auto;
    top: var(--offset-from-top);
    top: calc(-1 * var(--r-1) + -3rem);
    margin-bottom: calc(-1 * var(--r-1) + -3rem);
}

.post__intro{
    padding: 0 calc(4rem + var(--p-1));
    color: #999; /*var(--c-3);*/
    font-size: 1.4rem;
    text-align: justify;
    font-style: italic;
    line-height: 1.2;
}

article#post{
    font-size: 1rem;
    width: min(60ch, var(--viewportWidth));
    display: flex;
    flex-direction: column;
    align-items: center;
}

article#post h1{
    
}
article#post > header{
    gap: 0;
    width: min(60rem, var(--viewportWidth));
    padding: 0 2rem;
}

article#post time{
    font-size: 0.8rem;
    font-weight: 600;
}

article#post .post__image{
    border-radius: 2rem;
    width: 100%;
    height: var(--height);
    object-fit: cover;
    object-position: top;
}

article#post .post__content a{
    display: inline;
}

article#post .post__content img{
    width: 100%;
    margin: 2rem 0;
    border-radius: var(--r-1);
    background-color: var(--c-1);
}

article#post .post__content h1{
    font-size: 2.5rem;
    color: var(--c-2);
    width: auto;
    margin: 2rem 0 1rem 0;
}

article#post .post__content h2{
    font-size: 2rem;
    color: var(--c-2);
    width: auto;
    margin: 2em 0 1em 0;
}

article#post .post__content h3{
    font-size: 1.75rem;
    color: var(--c-2);
    width: auto;
    margin: 2em 0 1em 0;
    font-family: Bebas Neue;
    line-height: 0.85;
}

article#post .post__content h4{
    font-size: 1.6rem;
    color: var(--c-2);
    width: auto;
    margin: 2em 0 1em 0;
    font-family: Bebas Neue;
    line-height: 0.85;
}

article#post .post__content h5{
    font-size: 1.4rem;
    color: var(--c-2);
    width: auto;
    margin: 2em 0 1em 0;
    font-family: Bebas Neue;
    line-height: 0.85;
}

article#post .post__content h6{
    font-size: 1.2rem;
    color: var(--c-2);
    width: auto;
    margin: 2em 0 1em 0;
    font-family: Bebas Neue;
    line-height: 0.85;
}

article#post .post__content blockquote{
    width: 120%;
    margin-left: -10%;
    background-color: var(--c-3);
    color: var(--c-bkg);
    font-size: 3rem;
    font-style: italic;
    padding: 2rem 4rem;
    line-height: 1;
    border-radius: 1rem 6rem;
    position: relative;
}

article#post .post__content blockquote::before{
    content: "\"";
    position: absolute;
    top: 1rem;
    left: 0rem;
    font-size: 6rem;
}

article#post .post__content blockquote::after{
    content: "\"";
    position: absolute;
    bottom: -2rem;
    right: 2rem;
    font-size: 6rem;
}


article#post .post__content blockquote p {
    margin: 0;
}

article#post .post__content p{
    margin: 1.5em 0;
    text-align: justify;
}

article#post .post__content hr{
    margin: 2em 0;
}

article#post .post__content th, article#post .post__content td{
    padding: .5rem;
    color: #666;
}

article#post .post__content code{
    margin: 1em 0;
    padding: 2rem;
    background-color: var(--c-1);
    display: block;
    color: #666;
    border-radius: 1rem;
}

article#post .post__content pre{
    margin: 1em 0;
    background: none;
    padding: 0;
    border-radius: 0;
}

article#post .post__content pre code{
    margin: 0;
}


article#post .post__content > ul, article#post .post__content > ol {
    margin: 2rem;

}

article#post .post__content ul { 
    list-style-type: disc; 
    /* list-style-position: inside; */
 }
 article#post .post__content ol { 
    list-style-type: decimal; 
    /* list-style-position: inside; */
 }
 article#post .post__content ul ul, article#post .post__content ul { 
    list-style-type: circle; 
    /* list-style-position: inside; */
    margin-left: 2rem; 
 }
 article#post .post__content ol ol, ul ol { 
    list-style-type: lower-latin; 
    /* list-style-position: inside; */ 
    margin-left: 2rem; 
 }
 article#post .post__content li {
    margin-bottom: .35em;
    line-height: 1.4;
 }
 article#post .post__content li::marker {
    font-weight: 600;
 }