.glide {
    overflow-x: scroll;
}

.glide::-webkit-scrollbar {
    width: 1rem;
}

/* Track */
.glide::-webkit-scrollbar-track {
    background-color: var(--c-1);
    border-radius: 999px;
}

/* Handle */
.glide::-webkit-scrollbar-thumb {
    background-color: var(--c-3);
    border-radius: 999px;
    transition: .2s all;
}

/* Handle on hover */
.glide::-webkit-scrollbar-thumb:hover {
    background-color: var(--c-3);
}

.glide__slides {
    display: flex;
    flex-wrap: nowrap;
    gap: 1rem;
    padding-bottom: 2rem;
}

.no-flexbox-gap .glide__slides > *:not(:last-child) {
    margin-right: 1rem;
}

.glide__slide img {
    max-width: 12rem;
}

.glide__slide img[src*='landscape'] {
    max-width: 37.8rem;
    /* height: 100%; */
    width: unset;
    aspect-ratio: 428 / 241;
}

.glide__slide img {
    border-radius: 2rem;
    /* pointer-events: none; */
    cursor:pointer;
}

.hires-details {
    display: flex;
    pointer-events: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background: white;
    padding: 2rem;
    z-index: 2;
    opacity: 0;
    transition: opacity 0.1s ease-in;
}

.hires-details img{
    max-height: 100%;
    max-width: 100%;
    width: auto;
}

.hires-details.hires-details--selected {
    opacity: 1;
    pointer-events: all;
    cursor:pointer;
}
