.system__wrapper section {
    display: grid;
    grid-template-columns: 30rem auto;
}

.page--home .system__wrapper {
    display: flex;
    flex-direction: column;
}

.system__list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.no-flexbox-gap .system__list > *:not(:last-child) {
    margin-right: 1rem;
    margin-bottom: 1rem;
}

.system__list li {
    aspect-ratio: 1;
    height: 9rem;
    width: 9rem;
    background-color: var(--c-1);
    border-radius: var(--r-1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 0.3rem solid transparent;
    transition: all 0.2s;
    cursor: pointer;
}

.system__list li:hover {
    border-color: var(--c-3);
}

.system__list li:hover img,
.system__list li:hover svg,
.system__list li:hover span {
    transform: scale(1.05);
}

.system__list li img {
    width: 4rem;
    transition: all 0.2s;
}

.system__list li svg {
    width: 4rem;
    height: 4rem;
    transition: all 0.2s;
}

.system__list li svg path {
    fill: #bbb;
}

.system__list li span {
    color: #bbb;
    transition: all 0.2s;
}

.system__list li.system--selected {
    background-color: var(--c-3);
}

.system__list li.system--selected svg path {
    fill: var(--c-bkg);
}

.system__list li.system--selected span {
    color: var(--c-bkg);
}

.system__zoom-wrapper {
    position: relative;
    background-color: var(--c-1);
    padding: var(--p-1);
    border-radius: var(--r-1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

li.system--soon {
    opacity: 0.5;
    pointer-events: none;
}

li.system--soon::after {
    content: '(coming soon)';
    color: #bbb;
    font-size: smaller;
    font-weight: 700;
    text-transform: uppercase;
}

.zoom__image {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.5s;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.zoom__image--bkg {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.6;
    transition: opacity 0.5s;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.zoom__image--visible {
    opacity: 1;
}

@media screen and (max-width: 768px) {
    .system__wrapper section {
        grid-template-columns: 20rem auto;
    }
}